# npm.pkg.github.com/:_authToken=0efad637-cd23-4f34-9583-136d5693fc4c
# registry=https://npm.pkg.github.com/softwarebrothers
# @softwarebrothers:registry=https://npm.pkg.github.com
# registry=https://registry.npmjs.org